<!-- <div>
    
    <hr>
    <div *ngIf = "selected; then selectedEmp; else normalEmp;"> </div>
        <ng-template #selectedEmp>
            Employee Details...!!!<br><br><br>
            <b> ID={{emp.id}},Name={{emp.name}},<br><br>Age={{emp.age}}, Salary:{{emp.sal}},
                EMPType:{{emp.EmpType}},DateOfJoing:{{emp.DateOfjoining}}
        </b>
        </ng-template>

        <ng-template #normalEmp>
            ID={{emp.id}},Name={{emp.name}},<br><br>Age={{emp.age}}, Salary:{{emp.sal}},
            EMPType:{{emp.EmpType}},DateOfJoing:{{emp.DateOfjoining}}
        </ng-template>
    
    </div>
   
    -->


    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->


    <!-- Add Course -->

    <!-- 
<button (click)="toggleBtn()" type="button">Toogle Button</button>
<div *ngIf="ping; else elseBlock">
  <button type="button">Toogling</button>

</div>
<ng-container #elseBlock>
  I am hided
</ng-container> -->
<!-- 
<input type="radio" name="nnm1" id="" value="Male" (click)="rToggle()">

<div *ngIf="ping1; else elseBlock1">
<input type="radio" name="nm1" id=""  value="FeMale">
</div>
<ng-container #elseBlock1>
  I am hide 2222
</ng-container>
 -->

 <!-- <input type="radio" name="gender" id="gender" value="male" [(ngModel)]="gender">
 <br>
 
 <input type="radio" name="gender" id="gender" value="female" [(ngModel)]="gender">
 <br>
 {{gender}} -->

<!-- <input type="radio" name="gender" id="gender" value="male" [(ngModel)]="gender1">
 <br>
 
 <input type="radio" name="gender" id="gender" value="female" [(ngModel)]="gender1">
 <br>
 {{gender1}} -->

<!-- <ul>
  <li (click)="toggleList()">List1</li>
  <div *ngIf="!toggleItems; else tBlock1">
    <ul>
      <li><a href="">Items</a></li>
      <li><a href="">Items</a></li>
    </ul>
  </div>
  <ng-container #tBlock1> 
    
  </ng-container>  -->

  <!-- <li><a (click)="onStudentsClick()"><i class="fa fa-graduation-cap"></i> Students <span class="fa fa-chevron-down"></span></a> -->
   

<!-- <li (click)="onStudentsClick1()" style="cursor: pointer;">Items</li>
<ul class="nav child_menu" *ngIf="toggleSwitch ; else elseBlock" class="bg-dark">
  <h2>Content</h2>
 
    <li ><a href="#" >List</a></li>
    <li><a href="#" >Add Students</a></li>
  </ul>

  <ng-container #elseBlock></ng-container> -->


<!-- <li><a (click)="onStudentsClick()"><i class="fa fa-graduation-cap"></i> Students <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu bg-dark" [ngStyle]="{'display':studentsToggle === true ? 'block' : 'none'}">
    <li routerLinkActive="active"><a href="#" routerLink="./students">List</a></li>
    <li routerLinkActive="active"><a href="#" routerLink="./students/add">Add Students</a></li>
  </ul>
</li>  -->


<!-- <li><a (click)="onStudentsClick()"><i class="fa fa-graduation-cap"></i> Students <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu bg-dark" [ngStyle]="setStyles()" *ngIf="err">
      <li routerLinkActive="active"><a href="#" routerLink="./students">List</a></li>
      <li routerLinkActive="active"><a href="#" routerLink="./students/add">Add Students</a></li>
    </ul>
  </li>  -->  
  
  
  
   
   <!-- <div class="container">
         <form>
          <div class="row my-5 pt-5">
          <div class="col-md-8">
               
       
            <div class="form-group row">
              <label for="inputEmail3" class="col-md-2 col-form-label offset-md-2">CourseTitle</label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="inputEmail3" placeholder="MAchineLearning">
              </div>
            </div>
           
            <div class="form-group row">
              <label for="inputEmail3" class="col-md-2 col-form-label offset-md-2">Course Description</label>
              <div class="col-md-8">
                <textarea name="" id="" cols="10" rows="5" class="form-control"></textarea>
              </div>
            </div>
            
                    
  
            <div class="form-group row">
              <label for="inputEmail3" class="col-md-2 col-form-label offset-md-2">CoursePosition</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
           
            <div class="form-group row">
              <label for="inputEmail3" class="col-md-2 col-form-label offset-md-2">Curse Categeory</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail3" >
              </div>
            </div>
  
            <div class="form-group row offset-md-2">
              <label for="inputEmail3" class="col-md-2 col-form-label offset-md-2">Curse Language</label>
              <div class="col-md-8">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>English</option>
                  <option>Angular</option>
                  <option>JavaScript</option>
                  <option>Python</option>
                  <option>Data Science</option>
                </select>  
              </div>
            </div>
  
  
          </div>
  
             <div class="card col-md-3 mr-4 ml-auto text-center  " style="height: 16rem;">
                  <div class="header"> <h4> Course card</h4> </div>
                <div class="card-body ">
                <div class="card-img">
                  <img class="card-img-top text-center m-auto pl-5 " src="assets/images/profile_pic.jpg" 
                  alt="Card image" class="img-fluid" 
                  style="width: 100px; height: 70px; object-fit: cover; display: flex; 
                  justify-content: center; align-items: center; margin-left: 3.5vw;">
                </div>
                <div class="card-title">
                  <p>John Doe</p>
                </div>
                <div class="card-btn my-4">
                  <button class="btn btn-primary" type="button">Upload</button>
                </div>
                
                 </div>
            </div>
          </div>
        
        <div class="form-group row ml-4">
          <label for="inputEmail3" class="col-md-2 col-form-label offset-md-1"><h6>PrivateCourse</h6></label>
          <div class="col-md-8">
            <ul class="nav nav-pills ml-3">
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#">Yes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#">No</a>
              </li>
            </ul>
                     
          </div>
        </div>
  
  
        <div class="form-group row ml-4">
          <label for="inputEmail3" class="col-md-2 col-form-label offset-md-1"><h6>CourseAcess AccessValidity</h6></label>
          <div class="col-md-8">
            <ul class="nav nav-pills ml-3">
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#ulimited">UnLimited</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#lDate">LimitedDate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#lDays">LimitedDays</a>
              </li>
            </ul>
                     
          </div>
        </div>
  
          
  
  
  <div class="tab-content offset-md-4">
  
    <div class="tab-pane container fade" id="ulimited">
      <h2>Nothing You Have Dear...:::(((</h2>
    </div>
  
    <div class="tab-pane container fade" id="lDate">
      <div class="form-group row">
        <label for="ldt" class="label-control">LimitedDate</label>
        <div class="col-md-4">
          <input type="date" name="nm" id="ldt" class="form-control">
        </div>
      </div>
     </div>
  
    <div class="tab-pane container fade" id="lDays">
      <div class="form-group row">
        <label for="lDay" class="label-control">LimitedDays</label>
        <div class="col-md-4">
          <input type="text" name="nm" id="lDay" class="form-control" placeholder="Days Left">
        </div>
      </div>
    </div>
  </div>
    
  
  
  
  <div class="form-group row ml-4">
    <label for="inputEmail3" class="col-md-2 col-form-label offset-md-1"><h6>#Paid</h6></label>
    <div class="col-md-8">
      <ul class="nav nav-pills ml-3">
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#yes">Yes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#no">No</a>
        </li>
      </ul>
               
    </div>
  </div>
  
  
  
      
  <div class="tab-content offset-md-4">
  
    <div class="tab-pane container fade" id="no">
      <h2>Nothing You Have Dear...:::(((</h2>
    </div>
  
    <div class="tab-pane container fade" id="yes">
      <div class="form-group row">
        <label for="cst" class="label-control">Cost</label>
        <div class="col-md-3 ml-3 pl-4">
          <input type="text" name="nm" id="cst" class="form-control" placeholder="Cost is :::">
        </div>
      </div>
      <div class="form-group row">
        <label for="cst" class="label-control">Discount</label>
        <div class="col-md-3">
          <input type="text" name="nm" id="cst" class="form-control" placeholder="Discount is :::">
        </div>
      </div>
      
  
    </div>
  </div>
     
  <div class="form-group text-center">
    <button class="btn btn-success" type="button">Save</button>
    <button class="btn btn-warning" type="button">Save As Default</button>
    <button class="btn btn-danger" type="button">Cancel</button>
  </div> -->
  
  <!-- 
  <div class="col-md-12 text-center my-4">
              <button class="schedule-btn">
                  <div class="mdc-button__ripple"></div>
                  <i class="material-icons mdc-button__icon icon" aria-hidden="true">timer</i>
                  <span class="mdc-button__label">Create</span>
                </button><button class="cancle-btn">
                  <div class="mdc-button__ripple"></div>
                  <i class="material-icons mdc-button__icon icon" aria-hidden="true">cancel</i>
                  <span class="mdc-button__label">Cancel</span>
                </button>
          </div>  -->
      <!-- </form>
    </div> -->
    
     
      <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

         <!-- Add Teeachers -->

            


<!-- <div class="x_title">
    <h2>Manager Registration Form</h2>
    <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="#">Settings 1</a>
                </li>
                <li><a class="dropdown-item" href="#">Settings 2</a>
                </li>
            </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="row"><h6 class="pl-4">Please enter the required details below</h6></div>



<form [formGroup]="empFormss" #fForm="ngForm" (ngSubmit)="onSubmit(empFormss.value)" novalidate class="my-5">
    <div class="form-group">
        <div class="row">
        <label for="un" class="label-control col-md-2 pl-5 ml-5">
          <h6>UserName:</h6>
            </label> 

        <div class="col-md-8 col-sm-12  form-group has-feedback">
            <input formControlName="userName" type="text"id="un" class="form-control has-feedback-left" >
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            <div *ngIf="empFormss.controls['userName'].errors && (empFormss.controls['userName'].dirty || empFormss.controls['userName'].touched);">
                <p *ngIf= "empFormss.controls['userName'].errors.required" class="alert-danger">User Name Required..</p>
                <p *ngIf=" !empFormss.controls['userName'].errors.pattern" class="alert-danger">Must  not be an specialchars </p>
                <p *ngIf=" empFormss.controls['userName'].errors.maxlength" class="alert-danger">Length must be only  a 5 charecters only</p>
            </div>

            <div  *ngIf="!empFormss.controls['userName'].errors &&(empFormss.controls['userName'].dirty || empFormss.controls['userName'].touched);">
                <p class="alert-success">Valid...</p>
        </div>
    
    </div>
          </div>
    </div>


  
    <div class="form-group">
        <div class="row">
        <label for="un" class="label-control col-md-2 pl-5 ml-5">
          <h6>UserEmail:</h6>
            </label> 

        <div class="col-md-8 col-sm-12  form-group has-feedback">
            <input formControlName="email" type="text"id="un" class="form-control has-feedback-left">
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            <div *ngIf="empFormss.controls['email'].errors && (empFormss.controls['email'].dirty || empFormss.controls['email'].touched);">
                <p *ngIf= "empFormss.controls['email'].errors.required" class="alert-danger">User Email....Required..</p>
                <p *ngIf=" !empFormss.controls['email'].errors.pattern" class="alert-danger">Must  not be an specialchars </p>
                <p *ngIf=" empFormss.controls['email'].errors.maxlength" class="alert-danger">give proper email please....</p>
            </div>

            <div  *ngIf="!empFormss.controls['email'].errors &&(empFormss.controls['email'].dirty || empFormss.controls['email'].touched);">
                <p class="alert-success">Valid...</p>
        </div>
    
    </div>
          </div>
    </div>    

    <div class="form-group">
        <div class="row">

        <label for="pwd" class="label-control col-md-2 pl-5 ml-5"> <h6>password:</h6></label> 
         <div class="col-md-8 col-sm-12  form-group has-feedback">
            <input formControlName="password" type="text"id="un" class="form-control has-feedback-left">
            <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
            <div *ngIf="empFormss.controls['password'].errors && (empFormss.controls['password'].dirty || empFormss.controls['password'].touched);">
                <p *ngIf= "empFormss.controls['password'].errors.required" class="alert-danger">Passwrod Required..</p>
                <p *ngIf=" !empFormss.controls['password'].errors.pattern" class="alert-danger">Must  not be an Strong forPrivacy </p>
                <p *ngIf=" empFormss.controls['password'].errors.maxlength" class="alert-danger"></p>
            </div>

            <div  *ngIf="!empFormss.controls['password'].errors &&(empFormss.controls['password'].dirty || empFormss.controls['password'].touched);">
                <p class="alert-success">Valid...</p>
        </div>
-   
</div>
    
    </div>
          </div>
      

      <div class="form-group row">
          <label for="mn" class="label-control ml-5 pl-5" ><h6>Mobilenumber:</h6></label>
          
          <div class="col-md-3 pl-3 ml-2">
            <select formControlName="countryCode" class="form-control has-feedback-left" name="countryCode" >
                <option value="971">UAE(+971)</option>
                <option selected disabled hidden>Country Code</option>
                        <option value="376">AND (+376)</option>
                        <option value="93">AFG (+93)</option>
                        <option value="1">ATG (+1)</option>
                        <option value="1">AIA (+1)</option>
                        <option value="355">ALB (+355)</option>
                        <option value="374">ARM (+374)</option>
                        <option value="599">ANT (+599)</option>
                        <option value="244">AGO (+244)</option>
                        <option value="672">ATA (+672)</option>
                        <option value="54">ARG (+54)</option>
                        <option value="1">ASM (+1)</option>
                        <option value="43">AUT (+43)</option>
                        <option value="61">AUS (+61)</option>
                        <option value="297">ABW (+297)</option>
                        <option value="358">ALA (+358)</option>
                        <option value="994">AZE (+994)</option>
                        <option value="387">BIH (+387)</option>
                        <option value="1">BRB (+1)</option>
                        <option value="880">BGD (+880)</option>
                        <option value="32">BEL (+32)</option>
                        <option value="226">BFA (+226)</option>
                        <option value="359">BGR (+359)</option>
                        <option value="973">BHR (+973)</option>
                        <option value="257">BDI (+257)</option>
                        <option value="229">BEN (+229)</option>
                        <option value="590">BLM (+590)</option>
                        <option value="1">BMU (+1)</option>
                        <option value="673">BRN (+673)</option>
                        <option value="591">BOL (+591)</option>
                        <option value="599">BES (+599)</option>
                        <option value="55">BRA (+55)</option>
                        <option value="1">BHS (+1)</option>
                        <option value="975">BTN (+975)</option>
                        <option value="Bouvet Island">BVT (+)</option>
                        <option value="267">BWA (+267)</option>
                        <option value="375">BLR (+375)</option>
                        <option value="501">BLZ (+501)</option>
                        <option value="1">CAN (+1)</option>
                        <option value="61">CCK (+61)</option>
                        <option value="243">COD (+243)</option>
                        <option value="236">CAF (+236)</option>
                        <option value="242">COG (+242)</option>
                        <option value="41">CHE (+41)</option>
                        <option value="225">CIV (+225)</option>
                        <option value="682">COK (+682)</option>
                        <option value="56">CHL (+56)</option>
                        <option value="237">CMR (+237)</option>
                        <option value="86">CHN (+86)</option>
                        <option value="57">COL (+57)</option>
                        <option value="506">CRI (+506)</option>
                        <option value="53">CUB (+53)</option>
                        <option value="238">CPV (+238)</option>
                        <option value="599">CUW (+599)</option>
                        <option value="61">CXR (+61)</option>
                        <option value="357">CYP (+357)</option>
                        <option value="420">CZE (+420)</option>
                        <option value="49">DEU (+49)</option>
                        <option value="253">DJI (+253)</option>
                        <option value="45">DNK (+45)</option>
                        <option value="1">DMA (+1)</option>
                        <option value="1">DOM (+1)</option>
                        <option value="213">DZA (+213)</option>
                        <option value="593">ECU (+593)</option>
                        <option value="372">EST (+372)</option>
                        <option value="20">EGY (+20)</option>
                        <option value="212">ESH (+212)</option>
                        <option value="291">ERI (+291)</option>
                        <option value="34">ESP (+34)</option>
                        <option value="251">ETH (+251)</option>
                        <option value="358">FIN (+358)</option>
                        <option value="679">FJI (+679)</option>
                        <option value="500">FLK (+500)</option>
                        <option value="691">FSM (+691)</option>
                        <option value="298">FRO (+298)</option>
                        <option value="33">FRA (+33)</option>
                        <option value="241">GAB (+241)</option>
                         <option value="44">GBR(+44)</option>
                        <option value="1">GRD (+1)</option>
                        <option value="995">GEO (+995)</option>
                        <option value="594">GUF (+594)</option>
                        <option value="44">GGY (+44)</option>
                        <option value="233">GHA (+233)</option>
                        <option value="350">GIB (+350)</option>
                        <option value="299">GRL (+299)</option>
                        <option value="220">GMB (+220)</option>
                        <option value="224">GIN (+224)</option>
                        <option value="590">GLP (+590)</option>
                        <option value="240">GNQ (+240)</option>
                        <option value="30">GRC (+30)</option>
                        <option value="500">SGS (+500)</option>
                        <option value="502">GTM (+502)</option>
                        <option value="1">GUM (+1)</option>
                        <option value="245">GNB (+245)</option>
                        <option value="592">GUY (+592)</option>
                        <option value="852">HKG (+852)</option>
                        <option value="Heard and McDonald Islands">HMD (+)</option>
                        <option value="504">HND (+504)</option>
                        <option value="385">HRV (+385)</option>
                        <option value="509">HTI (+509)</option>
                        <option value="36">HUN (+36)</option>
                        <option value="62">IDN (+62)</option>
                        <option value="353">IRL (+353)</option>
                        <option value="972">ISR (+972)</option>
                        <option value="44">IMN (+44)</option>
                        <option value="91">IND (+91)</option>
                        <option value="246">IOT (+246)</option>
                        <option value="964">IRQ (+964)</option>
                        <option value="98">IRN (+98)</option>
                        <option value="354">ISL (+354)</option>
                        <option value="39">ITA (+39)</option>
                        <option value="44">JEY (+44)</option>
                        <option value="1">JAM (+1)</option>
                        <option value="962">JOR (+962)</option>
                        <option value="81">JPN (+81)</option>
                        <option value="254">KEN (+254)</option>
                        <option value="996">KGZ (+996)</option>
                        <option value="855">KHM (+855)</option>
                        <option value="686">KIR (+686)</option>
                        <option value="269">COM (+269)</option>
                        <option value="1">KNA (+1)</option>
                        <option value="850">PRK (+850)</option>
                        <option value="82">KOR (+82)</option>
                        <option value="965">KWT (+965)</option>
                        <option value="1">CYM (+1)</option>
                        <option value="7">KAZ (+7)</option>
                        <option value="856">LAO (+856)</option>
                        <option value="961">LBN (+961)</option>
                        <option value="1">LCA (+1)</option>
                        <option value="423">LIE (+423)</option>
                        <option value="94">LKA (+94)</option>
                        <option value="231">LBR (+231)</option>
                        <option value="266">LSO (+266)</option>
                        <option value="370">LTU (+370)</option>
                        <option value="352">LUX (+352)</option>
                        <option value="371">LVA (+371)</option>
                        <option value="218">LBY (+218)</option>
                        <option value="212">MAR (+212)</option>
                        <option value="377">MCO (+377)</option>
                        <option value="373">MDA (+373)</option>
                        <option value="382">MNE (+382)</option>
        
                        <option value="590">MAF (+590)</option>
                        <option value="261">MDG (+261)</option>
                        <option value="692">MHL (+692)</option>
                        <option value="389">MKD (+389)</option>
                        <option value="223">MLI (+223)</option>
                        <option value="95">MMR (+95)</option>
                        <option value="976">MNG (+976)</option>
                        <option value="853">MAC (+853)</option>
                        <option value="1">MNP (+1)</option>
                        <option value="596">MTQ (+596)</option>
                        <option value="222">MRT (+222)</option>
                        <option value="1">MSR (+1)</option>
                        <option value="356">MLT (+356)</option>
                        <option value="230">MUS (+230)</option>
                        <option value="960">MDV (+960)</option>
                        <option value="265">MWI (+265)</option>
                        <option value="52">MEX (+52)</option>
                        <option value="60">MYS (+60)</option>
                        <option value="258">MOZ (+258)</option>
                        <option value="264">NAM (+264)</option>
                        <option value="687">NCL (+687)</option>
                        <option value="227">NER (+227)</option>
                        <option value="672">NFK (+672)</option>
                        <option value="234">NGA (+234)</option>
                        <option value="505">NIC (+505)</option>
                        <option value="31">NLD (+31)</option>
                        <option value="47">NOR (+47)</option>
                        <option value="977">NPL (+977)</option>
                        <option value="674">NRU (+674)</option>
                        <option value="683">NIU (+683)</option>
                        <option value="64">NZL (+64)</option>
                        <option value="968">OMN (+968)</option>
                        <option value="507">PAN (+507)</option>
                        <option value="51">PER (+51)</option>
                        <option value="689">PYF (+689)</option>
                        <option value="675">PNG (+675)</option>
                        <option value="63">PHL (+63)</option>
                        <option value="92">PAK (+92)</option>
                        <option value="48">POL (+48)</option>
                        <option value="508">SPM (+508)</option>
                        <option value="Pitcairn">PCN (+)</option>
                        <option value="1">PRI (+1)</option>
                        <option value="970">PSE (+970)</option>
                        <option value="351">PRT (+351)</option>
                        <option value="680">PLW (+680)</option>
                        <option value="595">PRY (+595)</option>
                        <option value="974">QAT (+974)</option>
                        <option value="262">REU (+262)</option>
                        <option value="40">ROU (+40)</option>
                        <option value="381">SRB (+381)</option>
                        <option value="7">RUS (+7)</option>
                        <option value="250">RWA (+250)</option>
                        <option value="966">SAU (+966)</option>
                        <option value="677">SLB (+677)</option>
                        <option value="248">SYC (+248)</option>
                        <option value="249">SDN (+249)</option>
                        <option value="46">SWE (+46)</option>
                        <option value="65">SGP (+65)</option>
                        <option value="290">SHN (+290)</option>
                        <option value="386">SVN (+386)</option>
                        <option value="47">SJM (+47)</option>
                        <option value="421">SVK (+421)</option>
        
                        <option value="232">SLE (+232)</option>
                        <option value="378">SMR (+378)</option>
                        <option value="221">SEN (+221)</option>
                        <option value="252">SOM (+252)</option>
                        <option value="597">SUR (+597)</option>
                        <option value="211">SSD (+211)</option>
                        <option value="239">STP (+239)</option>
                        <option value="503">SLV (+503)</option>
                        <option value="1">SXM (+1)</option>
                        <option value="963">SYR (+963)</option>
                        <option value="268">SWZ (+268)</option>
                        <option value="1">TCA (+1)</option>
                        <option value="235">TCD (+235)</option>
                        <option value="French Southern Territories">ATF (+)</option>
                        <option value="228">TGO (+228)</option>
                        <option value="66">THA (+66)</option>
                        <option value="992">TJK (+992)</option>
                        <option value="690">TKL (+690)</option>
                        <option value="670">TLS (+670)</option>
                        <option value="993">TKM (+993)</option>
                        <option value="216">TUN (+216)</option>
                        <option value="676">TON (+676)</option>
                        <option value="90">TUR (+90)</option>
                        <option value="1">TTO (+1)</option>
                        <option value="688">TUV (+688)</option>
                        <option value="886">TWN (+886)</option>
                        <option value="255">TZA (+255)</option>
                        <option value="380">UKR (+380)</option>
                        <option value="256">UGA (+256)</option>
                        <option value="United States Minor Outlying Islands">UMI (+)</option>
                        <option value="1">USA (+1)</option>
                        <option value="598">URY (+598)</option>
                        <option value="998">UZB (+998)</option>
                        <option value="39">VAT (+39)</option>
                        <option value="1">VCT (+1)</option>
                        <option value="58">VEN (+58)</option>
                        <option value="1">VGB (+1)</option>
                        <option value="1">VIR (+1)</option>
                        <option value="84">VNM (+84)</option>
                        <option value="678">VUT (+678)</option>
                        <option value="681">WLF (+681)</option>
                        <option value="685">WSM (+685)</option>
                        <option value="967">YEM (+967)</option>
                        <option value="262">MYT (+262)</option>
                        <option value="27">ZAF (+27)</option>
                        <option value="260">ZMB (+260)</option>
                        <option value="263">ZWE (+263)</option>
                    </select>
                    <span class="fa fa-flag form-control-feedback left" aria-hidden="true"></span>
                </div>
                <div class="col-md-5">
                    <input formControlName="phoneNumber" type="text" class="form-control has-feedback-left" >
                    <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>

                    <div *ngIf="empFormss.controls['phoneNumber'].errors && (empFormss.controls['phoneNumber'].dirty || empFormss.controls['phoneNumber'].touched);">
                        <p *ngIf= "empFormss.controls['phoneNumber'].errors.required" class="alert-danger">phoneNumber Required..</p>
                       <p *ngIf="  !empFormss.controls['phoneNumber'].errors.pattern" class="alert-danger">Must  not be a correct phoneNumber </p>
                        <p *ngIf="  empFormss.controls['phoneNumber'].errors.maxlength" class="alert-danger"></p>
                    </div>
        
                    <div  *ngIf="!empFormss.controls['phoneNumber'].errors &&(empFormss.controls['phoneNumber'].dirty || empFormss.controls['phoneNumber'].touched);">
                        <p class="alert-success">Valid...</p>
                </div>
         
                </div>
            </div>

            
<div class="form-group row d-flex" style="justify-content: center; align-items: center; ">
                  
<div class="col-md-12 col-sm-12  d-flex" style="justify-content: center; align-items: center; ">
    <button class="btn btn-primary ml-5 text-center" type="button">Reset</button>
<button class="btn btn-primary ml-1" type="reset">Edit Manager data</button>
<button class="btn btn-danger ml-1" type="reset">Delete Manager</button>              
<button type="submit" class="btn btn-success ml-1">Add Manager</button>

        </div>
    </div>

</form> -->

  
  
     
    
      
  
  
  
  
     
        
  
  