/* .has-success{
    border:2px solid green;
}
.has-error{
    border: 2px solid red;
} */

input.ng-valid.ng-touched, 
input.ng-valid.ng-dirty {
    border: 2px solid green;
}


input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
    border: 2px solid red;
}