<p>cn1 works!</p>



<select name="" id=""  class="form-control" [(ngModel)]="valuess">
    
    <option selected>Select</option>
    <option value="value1">Value1</option>
    <option value="value2">Value2</option>
    <option value="value3">Value3</option>
</select>
valuess are {{valuess}}


<select name="" id=""  class="form-control" [value]="value">
    
    <option selected>Select</option>
    <option [value]="value1">Value1</option>
    <option [value]="value2">Value2</option>
    <option [value]="value3">Value3</option>
</select>
valuess are {{value}}