.is-clr{
    background-color: violet;
    
}
.is-clr1{
    background-color: crimson;
}
.ml{
    background-color: cyan;
}
ul{
    list-style-type: none;
}
ul li{
    list-style-type: none;
}

.selectList{
    background-color: crimson;
}


    