<!-- <button (click)="toFunn1($event)" value="funn1" type="button"> {{res}}</button>

<select name="" id="">
<option value="" *ngFor="let pt of ar; let i=index"> {{pt}}</option>
</select>

<span *ngFor="let po of ar; let i=index">
    <span *ngIf=" i !== 0 ">,</span>{{po}}
</span>

<select [(ngModel)] = "selected">
 <ng-container *ngFor = "let fres of ar">
     <ng-container *ngIf = "fres !== '1' ">
     <option [ngValue] = "fres">{{fres}}</option></ng-container>
     </ng-container></select>
     {{selected}}

     <input type="radio" name="fm" id="" value="male" [(ngModel)]="gender">
     
     <input type="radio" name="fm" id="" value="Female" [(ngModel)]="gender">
     {{gender}} -->

<!--                                             Toggling 
     <button (click)="toggleBtn()" type="button">Toogle Button</button>
     <div *ngIf="ping; else elseBlock">
       <button type="button">Toogling</button>
    </div>
     
     <ng-container #elseBlock>
       I am hided
     </ng-container>

<input type="radio" name="nnm1" id="" value="Male" (click)="rToggle()">

<div *ngIf="ping1; else elseBlock1">
<input type="radio" name="nm1" id=""  value="FeMale">
</div>
<ng-container #elseBlock1>
  I am hide 2222
</ng-container> -->



    