input.ng-valid.ng-touched, 
input.ng-valid.ng-dirty {
    border: 2px solid green;
}


input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
    border: 2px solid red;
}
.is-valid{
    border: 1px solid green;
}

.is-invalid{
    border: 1px solid red;
}