<!-- <div class="main">

    <img src="assets/images/spy.png" alt="imgSt" class="img-fluid">
   
    <div class="mn1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio mo
        lestiae alias praesentium, expedita corrupti voluptas voluptate et ipsa
        m dolorum earum obcaecati vel illum i
        d, eos labore aspernatur ipsum cumque numquam.</p></div></div> -->

        <!-- <p class="cb" >About</p>
        <hr style="background-color: red; border-width: 0.5rem; position:relative; width:2.9rem; text-align: center;" >
                <div class="row">
                    <div class="col-md text-center">How Can I Help You....!!!
                    <hr style="background-color: red; border-width: 0.5rem; position:relative; width:2.9rem; text-align: center;" >
                </div>
                </div> -->

                
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Navbar</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#res1">Link</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="main" id="section1">
    <h2>Section 1</h2>
    <p>Click on the link to see the "smooth" scrolling effect.</p>
    <a href="#section2">Click Me to Smooth Scroll to Section 2 Below</a>
    <p>Note: Remove the scroll-behavior property to remove smooth scrolling.</p>
  </div>

                    <div class="container-fluid">
                            <div class="row">
                     <div class="col-md-8 col-sm-8 col-xs-12 bg-success">
                         <img src="assets/images/spy.png" class="img-fluid " width="100%"   style="  height:20rem ;object-fit: cover;">
                        
            </div>

           <div class="col-sm-4 bg-danger text-center d-flex " style="align-items: center; text-align: center; height: auto; ">
                            <p style="padding: 2em;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio mo
            lestiae alias praesentium, expedita corrupti volu corrupti volu corrupti volu corrupti volu corrupti volu corrupti volu corrupti voluptas voluptate et ipsa
            m dolorum earum obcaecati vel illum i
            d, eos labore aspernatur ipsum cumque numquam.</p>
        </div>

                    
    </div>

                
                </div>



                <div class="container-fluid">
                    <div class="col-md-4 bg-info" style="width: 100%;">
                        <img src="assets/images/spy.png" class="img-fluid">
                    </div>
                </div>

                
                <div class="container-fluid">
                    <div class="row">
             <div class="col-md-8 col-sm-8 col-xs-12 bg-success">
                 <img src="assets/images/spy.png" class="img-fluid " width="100%"   style="  height:20rem ;object-fit: cover;">
                
    </div>

   <div class="col-sm-4 bg-danger text-center d-flex " style="align-items: center; text-align: center; height: auto; ">
                    <p style="padding: 2em;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio mo
    lestiae alias praesentium, expedita corrupti volu corrupti volu corrupti volu corrupti volu corrupti volu corrupti volu corrupti voluptas voluptate et ipsa
    m dolorum earum obcaecati vel illum i
    d, eos labore aspernatur ipsum cumque numquam.</p>
</div>

            
</div>

        
        </div>



        <div class="container-fluid">
            <div class="col-md-4 bg-info" style="width: 100%;">
                <img src="assets/images/spy.png" class="img-fluid">
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
     <div class="col-md-8 col-sm-8 col-xs-12 bg-success">
         <img src="assets/images/spy.png" class="img-fluid " width="100%"   style="  height:20rem ;object-fit: cover;">
        
</div>

<div class="col-sm-4 bg-danger text-center d-flex " style="align-items: center; text-align: center; height: auto; ">
            <p style="padding: 2em;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio mo
lestiae alias praesentium, expedita corrupti volu corrupti volu corrupti volu corrupti volu corrupti volu corrupti volu corrupti voluptas voluptate et ipsa
m dolorum earum obcaecati vel illum i
d, eos labore aspernatur ipsum cumque numquam.</p>
</div>

    
</div>


</div>



<div class="container-fluid">
    <div class="col-md-4 bg-info" style="width: 100%;">
        <img src="assets/images/spy.png" class="img-fluid">
    </div>
</div>
                <p id="res1">Here iam waiting...!!!@@@</p>


               
                  
                  <div class="main" id="section2">
                    <h2>Section 2</h2>
                    <a href="#section1">Click Me to Smooth Scroll to Section 1 Above</a>
                  </div>
                  
                  <p><strong>Note:</strong> The scroll-behavior property is not supported in Internet Explorer.</p>
                  
                  