/* input.ng-valid.ng-touched, 
input.ng-valid.ng-dirty {
    border: 2px solid green;
}


input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
    border: 2px solid red;
}
.is-invalid{
    border: 1px solid red;
} */

table td ,th{
border: 1px solid black;
}